<section class="posts">
  <% page.posts.each(function (post,index) { %>
  <%
    // $('#ick-animate1').fadeTo('slow',1);
    /**
     * 返回随机数
     * @param {Number} Min 最小值
     * @param {Number} Max 最大值
     */
    function GetRandomNum(Min, Max) {
      var Range = Max - Min;
      var Rand = Math.random();
      return (Min + Math.round(Rand * Range));
    }

    /**
     * 返回随机的动画名称
     */
    var getRandomAnimate = function (pageIndex) {
      var animateArr = ["fadein", "slidedown",'show','leftright','rightleft','point','drop'];
      // animateArr = ['drop'];
      var index = GetRandomNum(0, animateArr.length - 1);
      // return pageIndex==0? animateArr[index]:'';
      return animateArr[index];
    }

    // var oldClassName = $('.ick-animate').attr('class')
    // if (!oldClassName || oldClassName.indexOf('ick-animate--') <= -1) {
    //   $('.ick-animate').attr('class', oldClassName + ' ick-animate--' + getRandomAnimate())
    // }
  %>
  <article class="post ick-animate--<%= getRandomAnimate(index) %> ">
    <div class="post-title">
      <a class="post-title-link" href="<%- url_for(post.path) %>">
        <%= post.title %></a>
    </div>
    <div class="post-content">
      <%- post.excerpt %>
    </div>
    <div class="post-meta">
      <span class="post-time">
        <%- date(post.date, "YYYY-MM-DD") %></span>
    </div>
  </article>
  <% }) %>
</section>



<!-- 随机动画插件 -->
<%- partial('_partial/randomAnimate') %>
<!-- 分页插件 -->
<%- partial('_partial/paginator') %>
<!-- 底部插件 -->
<%- partial('_partial/footer') %>