<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
  <div class="container">
    <%- partial('_partial/header') %>
    <div class="article-wrapper">
      <main class="main">
      <% if(page.layout == 'test') {%>
        <%- body %>
      <% }else{ %>
        <%- body  %>
      <% } %>
      </main>
      <div class="slider-right">
        <!-- 博客简介部分 -->
        <div class="ick-blog__desc ick-card">
          <span class="label">博客简介</span>
          <p>破冰博客：ICEBREAKING.COM，是一个专注于技术类型的博客，坚持更多更好的原创作品，希望能够对您有所帮助。<span class="ick-blue">了解更多...</span></p>
        </div>

        <!-- 博客统计部分 -->
        <div class="ick-blog__statistics ick-card">
          <span>总文章数：<%= site.posts.length %></span>
          <span>总分类数：<%= site.categories.length %></span>
          <span>总标签数：<%= site.tags.length %></span>
        </div>
      </div>
    </div>
  </div>

  <%- partial('_partial/onlinechat') %>
</body>

</html>